name: fastapi-ci

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          cd backend
          pip install -r requirements.txt

      - name: Python syntax check
        run: |
          cd backend
          python -m compileall .
